@{
    ViewData["Title"] = "About";
}
    <head>
        <link rel="stylesheet" href="~/css/about.css" type="text/css" />
        <link rel="stylesheet" href="~/css/custom.css" type="text/css">

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </head>
<body>
    <section class="about2">
        <div class="container">
            <h1>WELCOME TO CAR HOUSE LIMITED</h1>
            <h3>Let's take a ride through our journey</h3>
        </div>
    </section>

    <section class="about">
        <div class="car">
            <div class="body">
                <div class="mirror-wrap">
                    <div class="mirror-inner">
                        <div class="mirror">
                            <div class="shine"></div>
                        </div>
                    </div>
                </div>
                <div class="middle">
                    <div class="top">
                        <div class="line"></div>
                    </div>
                    <div class="bottom">
                        <div class="lights">
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
                <div class="bumper">
                    <div class="top"></div>
                    <div class="middle" data-numb="CAR HOUSE"></div>
                    <div class="bottom"></div>
                </div>
            </div>
            <div class="tyres">
                <div class="tyre back"></div>
                <div class="tyre front"></div>
            </div>
        </div>

        <div class="road-wrap">
            <div class="road">
                <div class="lane-wrap">
                    <div class="lane">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ride">
        <div class="row">
            <div class="col-md-6 box">
                <p>
                    Car House Limited inaugurated in 1991 and has been importing brand new and reconditioned vehicles. Thanks to all our customers for their help and support for the last two decades. We will try to serve you with the best products.
                </p>
            </div>
            <div class="col-md-6 box2">

            </div>
        </div>

    </section>







    <script src="js/rellax.min.js"></script>
    <script type="text/javascript">var rellax = new Rellax('.rellax');</script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
